table{
    width: 100%;
    flex: 1;
}
td{
    text-align: center;
}
.container{
    margin:0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 27px;
}
#prova{
    position: fixed;
    width: 600px;
    display: flex;
    justify-content: center;
    top: -50%;
    left: -50%;

height: 100%;
border-radius: 25px;

backdrop-filter: blur(5px);
}
#prova form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: solid 1px red;
    border-radius: 35px;
    width: 65%;
    align-items: center;
}

form input{
    appearance: none;
}


button,input,select, textarea { box-sizing:border-box; width:250px;height: 35px; margin:0; padding:0}

button{border-radius:5px}
 button:hover, button:focus{ color:#fff; outline:none; background:#0eba73}
 button, input, textarea, select{ font-family:inherit; font-size:100%;  box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;}

table button{
    display: block;
    width: 75%;
    height: 80%;
    font-size: 15px;
    margin: 0 auto;
}